[submodule "evercam-ruby"]
	path = evercam-ruby
	url = https://github.com/mekongit/evercam-ruby.git
[submodule "evercam-models"]
	path = evercam-models
	url = https://github.com/mekongit/evercam-models.git
[submodule "evercam-server"]
	path = evercam-server
	url = https://github.com/mekongit/evercam-server.git
[submodule "evercam-dashboard"]
	path = evercam-dashboard
	url = https://github.com/mekongit/evercam-dashboard.git
